/* google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.packages-button-bg{
    background-color: #F496D1;
}
.packages-button-text{
    color: #ffff;
}
p .bi{
    color: #5243C2;
    
}
    
.detils-primary svg {
    color: #ffff;
}

.most-famous {
    color:#fff;
    background-color: #FF4E4E;
    padding: 1px 10px;
    border-radius: 15px;
    position:absolute;
    top: -13px;
    right: 13px;
}